.Rproj.user
.Rhistory
.RData
.Ruserdata


*.pdf
*.png
*.csv
*.jpg
*.xlsx
*.html

test*
ReadMe.qmd
scratch*.R
volcano.R
percent_change_chatgpt.qmd
model_predictions_plot.R

archive/
CS_Estimates/
output/
pics/
R Files/
Raw data/
ReadMe_files/
demo_percent_change_files/
percent_change_chatgpt_files/